body{
    font-family: 'Poppins', sans-serif;
    margin:0 ; 
}
h1{
    font-size: 50px; 
}
h2{
  font-size:40px ;  
}
    
    
.my{
    color:orange ;
}
.dana{
    display: flex;
    margin-bottom:150px ;
}
.half-width{
    width: 50%;
    padding-left:5% ;
}
.half-width img{
    width:80%
}
.link-button{
    text-decoration:none ;
background-image:linear-gradient(orange,tomato);
padding:10px 40px;
border-radius:5px ;
color:white;
font-width:700 ;

}
.top{
 background-image: url(images/top-banner.png); 
 background-repeat:no-repeat ;  
} 
.drem{
background-image: url(images/dream-bg.png) ; 
background-repeat: no-repeat;  
background-position:right ;
}
.experienc{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position left: ;
}
#mofo{
    border-left: 7px solid;
    border-image:linear-gradien(salmon,tomato);
    border-image-slice:1;  
}
#exprience{
    border-left: 7px solid;
    border-image:linear-gradient(blue,cyan) ;
    border-image-slice: 1;
}
footer p{
    text-align: center;
}
.devo{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left:20px ;
    border-radius:10px ;
   box-shadow:10px 10px 40px gray;




